<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>

    <link
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <style>
        .botonF1{
            width:60px;
            height:60px;
            border-radius:100%;
            background:#66BB6A;
            right:0;
            bottom:0;
            position:absolute;
            margin-right:16px;
            margin-bottom:16px;
            border:none;
            outline:none;
            color:#FFF;
            font-size:36px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            transition:.3s;
        }
    </style>
</head>
<body>
<div th:replace="header :: header"></div>

<div  th:classappend="'alert-' + (${status != null} ? ${status} : info)" th:if="${mensaje != null}" th:text="${mensaje}" class="alert"> </div>

<h1 style="margin: 20px">Lista de productos</h1>

<div class="table-responsive" style="margin-left: 20px">
    <table class="table no-wrap user-table mb-0">
        <thead>
        <tr>
            <th scope="col"class="border-0 text-uppercase font-medium pl-4">SKU</th>
            <th scope="col" class="border-0 text-uppercase font-medium">Nombre</th>
            <th scope="col" class="border-0 text-uppercase font-medium">Precio</th>

        </tr>
        </thead>
        <tbody>

        <th:block th:each="producto: ${listaProductos}">
        <tr>

            <td>
                <h5 th:text="${producto.getSku()}"></h5>
            </td>
            <td>
                <h5 th:text="${producto.getNombre()}"></h5>

            </td>

            <td><h5 th:text="${'$'+producto.getPrecio()}"></h5><br>

            </td>
            <td>
            <th>
                <form method="POST"
                      th:action="@{/eliminarProductos(id=${producto.getID_PRODUCTO()})}">
                    <button type="submit" name="borrar"
                            class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2">
                        <i class="fa fa-trash "></i>
                    </button>
                </form>
            </th>
            <th>
                <div class="contenedor">
            <button type="button" th:attr="onclick=|ver('${producto.getNombre()}','${producto.getSku()}','${producto.getPrecio()}','${producto.getID_PRODUCTO()}')|" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2">
                <i class="fa fa-edit"></i>
            </button>
                </div>
            </th>

            </td>
        </tr>


        </th:block>
        </tbody>
    </table>
</div>


<div class="contenedor">
    <button class="botonF1" type="button" data-toggle="modal" data-target="#modalCreaProducto" >
        <span>+</span>
    </button>
</div>

<div th:insert="paginas/modalEditarProducto::#modalEditarProducto"></div>
<div th:insert="paginas/modalCrearProducto::#modalCreaProducto"></div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script>
    function ver(nombre,sku,precio,id) {
        console.log("entro a funcion  + "+nombre)
        document.getElementById("preciodata").setAttribute('value',precio);
        document.getElementById("skudata").setAttribute('value',sku);
        document.getElementById("nombreid").setAttribute('value',nombre);
        document.getElementById("iddata").setAttribute('value',id);
        $("#modalEditarProducto").modal("show");
    }

    function esconder() {
        $("#modalEditarProducto").modal("hide");
    }
</script>

</body>
</html>