<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- Header-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light"  th:fragment="header">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#!">Cotizador de credito</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/verProductos}">Produtos</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/verPlazo}">Plazos</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/verCotizador}">Ver Cotizacion</a></li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>