<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cotizador de creditos</title>
    <link
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <style>
        #columna1 {
            float: right;
            margin: 20px;
            width:45%;
        }
        #columna2 {
            float: left;
            margin: 20px;
            width: 45%;
        }
    </style>

</head>
<body>
<div th:replace="header :: header"></div>

<div  th:classappend="'alert-' + (${status != null} ? ${status} : info)" th:if="${mensaje != null}" th:text="${mensaje}" class="alert"> </div>

<div id="columna1">

    <h3 >Selecciona un plazo</h3>

    <form method="post"  th:action="@{/verCotizador(sku=${sku})}">
        <select name="numeroSemanas" id="numeroSemanas" th:attr="onchange=|ver('${listaPlazo}')|">
            <optgroup>
                <p  th:each="plazo: ${listaPlazo}">
                    <option th:text="${plazo.getNumeroSemanas()}"></option>
                </p>
            </optgroup>
        </select>
        <button type="submit"  class="btn btn-outline-primary">Calcular</button>
    </form>



    <div class="table-responsive" style="margin-top: 20px">
        <table class="table no-wrap user-table mb-0">
            <thead>
            <tr>
                <th scope="col" class="border-0 text-uppercase font-medium"># Semanas</th>
                <th scope="col" class="border-0 text-uppercase font-medium">Abono normal</th>
                <th scope="col" class="border-0 text-uppercase font-medium">Abono Puntual</th>
            </tr>
            </thead>

            <th:block  th:each="pago: ${listaPagos}">
            <tr>
                <td >
                    <h5 id="numero" th:text="${pago.getNumSemanas()}"></h5>
                </td>
                <td >
                    <h5 id="normal" th:text="${'$'+pago.getAbonoNormal()}"></h5>
                </td>
                <td>
                    <h5 id="puntual" th:text="${'$'+pago.getAbonoPuntual()}"></h5>
                </td>

            </tr>
            </th:block>

        </table>
    </div>
</div>
<div id="columna2">
    <h3 style="margin-bottom: 20px">Ingresa el SKU del producto</h3>

    <form method="get"  th:action="@{/verCotizador}">
    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" name="sku"
               aria-describedby="search-addon" />
        <button type="submit"  class="btn btn-outline-primary">search</button>
    </div>
    </form>

    <h3 style="margin-top: 20px">Resultado de busqueda</h3>

    <div class="table-responsive">
        <table class="table no-wrap user-table mb-0">
            <thead>
            <tr>
                <th scope="col" class="border-0 text-uppercase font-medium">Nombre</th>
                <th scope="col" class="border-0 text-uppercase font-medium">SKU</th>
                <th scope="col" class="border-0 text-uppercase font-medium">Costo</th>
            </tr>
            </thead>
                <tr>
                    <td >
                        <h5 th:text="${producto.getNombre()}"></h5>
                    </td>
                    <td>
                        <h5 th:text="${producto.getSku()}"></h5>
                    </td>
                    <td>
                        <h5 th:text="${'$'+producto.getPrecio()}"></h5>
                    </td>
                </tr>
            </tbody>


        </table>
</div>


</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<script>

    function ver(lis) {
        console.log("entro a funcion ")
        console.log( lis)

    }
</script>

</body>
</html>